{% extends 'base_generic.html' %}

{% block title %}Category List{% endblock %}

{% block content %}
  <h2>Categories</h2>
  <a href="{% url 'category_create' %}">Add Category</a>
  <table>
      <thead>
          <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Description</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          {% for category in categories %}
              <tr>
                  <td>{{ category.Category_Id }}</td>
                  <td>{{ category.category_name }}</td>
                  <td>{{ category.description }}</td>
                  <td>
                      <a href="{% url 'category_detail' category.pk %}">View</a>
                      <a href="{% url 'category_update' category.pk %}">Edit</a>
                      <a href="{% url 'category_delete' category.pk %}">Delete</a>
                  </td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
{% endblock %}
