{% extends 'base_generic.html' %}

{% block title %}Movie Detail{% endblock %}

{% block content %}
  <h2>{{ movie.Title }}</h2>
  <p><strong>Description:</strong> {{ movie.Description }}</p>
  <p><strong>Release Year:</strong> {{ movie.Release_Year }}</p>
  <p><strong>Duration:</strong> {{ movie.Duration }} minutes</p>
  <p><strong>Rating:</strong> {{ movie.Rating }}</p>
  <a href="{% url 'movie_update' movie.pk %}">Edit</a>
  <a href="{% url 'movie_delete' movie.pk %}">Delete</a>
  <a href="{% url 'movie_list' %}">Back to Movies</a>
{% endblock %}
