{% extends 'base_generic.html' %}

{% block title %}Payment List{% endblock %}

{% block content %}
  <h2>Payments</h2>
  
  <table>
      <thead>
          <tr>
              <th>ID</th>
              <th>User</th>
              <th>Amount</th>
              <th>Date</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          {% for payment in payments %}
              <tr>
                  <td>{{ payment.Payment_Id }}</td>
                  <td>{{ payment.User_Id }}</td>
                  <td>{{ payment.Amount }}</td>
                  <td>{{ payment.Date }}</td>
                  <td>
                      <a href="{% url 'payment_detail' payment.pk %}">View</a>
                      <a href="{% url 'payment_update' payment.pk %}">Edit</a>
                      <a href="{% url 'payment_delete' payment.pk %}">Delete</a>
                  </td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
{% endblock %}
